# Module 0
- Foundational Python refresher...

#### For each of the following expressions, indicate the type of the expression. 
*While you could simply type these expressions into your shell, we encourage you to answer them directly since this will help reinforce your understanding of basic Python expressions.*

In [1]:
# 3.14
# Select an option NoneType int float bool
float

float

In [2]:
# -34
# Select an option NoneType int float bool
int

int

In [3]:
# True
# Select an option NoneType int float bool
bool

bool

In [ ]:
# None
# Select an option NoneType int float bool
NoneType

In [5]:
# 3.0
# Select an option NoneType int float bool
float

float

#### Conditional Statement Revisited

- 3 > 4

- 4.0 > 3.999

- 4 > 4

- 4 > + 4

- 2 + 2 == 4

- True and False

- False or False

- not False

- (3.0 - 1.0) != (5.0 - 3.0)

- 3 > 4 or (2 < 3 and 9 > 10)

- 4 > 5 or 3 < 4 and 9 > 8

- not(4 > 3 and 100 > 6)

In [4]:
# Write the answers below

In [0]:
false
true
false
false
true
false
false
true
false
false
true
false

#### ASSIGNMENT VS Conditionals

Ouput ??
```
a = 5
a == 5.0
a
```

In [0]:
5

In [14]:
a = 5
a == 5.0
a

5

Ouput ??
```
b = 10
c = b > 9
c
```

In [0]:
true

In [15]:
b = 10
c = b > 9
c

True

#### Advanced String manipulations Revisited

```
- "a" + "bc"

- 3 * "bc"

- "3" * "bc"

- "Abcd"[2]

- "Abcd"[0:2]

- "Abcd"[ :2 ]

- "Abcd"[2:]
```

In [0]:
abc
bcbcbc
error
c
Ab
Ab
cd

#### More on strings & slicing..

```
str1 = 'hello'
str2 = ','
str3 = 'world'
```

Part 1 - Answer the following

```
- str1[0]

- Str1[1]

- str1[-1]

- len(str1)

- str1[ len(str1)-1 ]

- str1[-1 : len(str1)-1 ]

- str1 + str2 + str3

- str1 + str2 + ' ' + str3

- str3 * 3

- 'hello' == str1

- 'HELLO' == str1

- 'a' in str3
```

In [0]:
h
error
o
5
o
error
hello,world
hello, world
worldworldworld
true
false
false

Part 2 - Answer the following

```
- str4 = 'helloworld'

- 'low' in str4

- str3[1:3]

- str3[:3]

- [str3:-1]

- str1[1:]

- str4[1:9]

- str4[9:1:2] 

- Str4[::-1]
```

In [0]:
helloworld
true
or *
wor *
error
ello *
elloworl
drol
dlorwolleh

#### Conditionals

Ouput ??

```
if 6 > 7:
   print("Yep")
```

In [0]:
""

Ouput ??
```
if 6 > 7:
   print("Yep")
else:
   print("Nope")
```

In [0]:
Nope

Ouput ??
```
var = 'Panda'
if var == "panda":
   print("Cute!")
elif var == "Panda":
   print("Regal!")
else:
   print("Ugly...")
```

In [0]:
Regal!

Ouput ??
```
temp = 120
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable") 
else:
   print("Cold")
```

In [ ]:
Hot

In [ ]:
#if the first one is true, straight take the first one

Output ??
```
temp = 50
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable")
else:
   print("Cold")

```

In [0]:
Cold

#### TELL ME THE OUTPUT OF THE FOLLOWING PROGRAM

Output ??
```
num = 5
if num > 2:
    print(num)
    num -= 1
print(num)

```

In [0]:
5
4

Output ??
```
num = 0
while num <= 5:
    print(num)
    num += 1

print("Outside of loop")
print(num)

```

In [0]:
0
1
2
3
4
5
Outside of loop
6

In [3]:
num = 0
while num <= 5:
    print(num)
    num += 1

print("Outside of loop")
print(num)

0
1
2
3
4
5
Outside of loop
6

Output ??
```
numberOfLoops = 0
numberOfApples = 2
while numberOfLoops < 6:
    numberOfApples *= 2
    numberOfApples += numberOfLoops
    numberOfLoops -= 1
print("Number of apples: " + str(numberOfApples))
```

In [ ]:
numberOfLoops = 0
numberOfApples = 2
while numberOfLoops < 6:
    numberOfApples *= 2
    numberOfApples += numberOfLoops
    numberOfLoops -= 1
    
print("Number of apples: " + str(numberOfApples))

Output ??
```
num = 10
while num > 3:
   print(num)
   num -= 1

```

In [ ]:
10
9
8
7
6
5
4

In [ ]:
num = 10
while num > 3:
   print(num)
   num = 1

Output ??
```
num = 10
while True:
    if num < 7:
        print('Breaking out of loop')
        break
    print(num)
    num -= 1
print('Outside of loop')
```

In [0]:
10
9
8
7
Breaking out of loop
Outside of loop

Output ??
```
num = 100
while not False:
    if num < 0:
        Break
print('num is: ' + str(num))
```

#### WHILE LOOPS

```
Using while loops to write calculate the sum of first N numbers
Input = 10
Output = 1+2+3+4+5+6+7+8+9+10 = 55
```

In [ ]:
num = 10
total_numbers = num
sum = 0
while num > 0:
    sum += num
    num -=1

print(sum)

In [ ]:
def sum_of_n_numbers_while(n):
    acc = 0
    index = 1
    while index == n:
        acc += index
        index+= 1
    return acc

sum_of_n_numbers(10) == sum_of_n_numbers_while(10)


def sum_of_n_numbers(n):
    acc = 0
    for i in range(n):
        acc += 2
    return acc

sum_of_n_numbers(10)

1. Convert the following into code that uses a while loop.
```
print 2
prints 4
prints 6
prints 8
prints 10
prints Goodbye!
```

In [0]:
num = 2
while num <= 10:
    print(num)
    num += 2

print("Goodbye!")

2. Convert the following into code that uses a while loop.
```
prints Hello!
prints 10
prints 8
prints 6
prints 4
prints 2
```

In [7]:
print("Hello!")

num = 10
while num >= 2:
    print(num)
    num -= 2

Hello!
10
8
6
4
2

#### USE For Loops to do the same .

**Refer to previous exercise**

In [0]:
num = 10
sum = 0
for num in range(11):
    sum = sum + num

print(sum)

In [ ]:
num = 2
for num in range (2,11,2):
    print(num)
    
print("Goodbye!")

In [ ]:
print("Hello!")

num = 10
for num in range (10,0,-2):
    print(num)

#### Guess the output of for loops

1. 
```python
num = 10
for num in range(5):
    print(num)
print(num)
```
--- 

2. 
```python
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
```
---

3. 
```python
for variable in range(20):
    if variable % 4 == 0:
        print(variable)
    if variable % 16 == 0:
        print('Foo!')
```
---

4. 
```python
for letter in 'hola':
    print(letter) 
```
---

5. 
```python
count = 0
for letter in 'Snow!':
    print('Letter # ' + str(count) + ' is ' + str(letter))
    count += 1
    break
print(count)
```

In [0]:
0
1
2
3
4
4

In [0]:
0
1
2
3
4

In [ ]:
0
Foo!
4
8
12
16
Foo!

In [ ]:
h
o
l
a

In [ ]:
Letter # 0 is S
1

#### Python dict


Given the following code...

```python
animals = {
            'a': 'aardvark',
            'b': 'baboon',
            'c': 'coati'
          }

animals['d'] = 'donkey'
animals['b'] = 'donkey'

```

#### Guess the output with respect to the given dict..

1. 
```
animals
```
--- 

2. 
```
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
```
---

3. 
```
animals['donkey'] 
```
---

4. 
```
len(animals)
```
---

5. 
```
animals['a'] = 'anteater'
```
---

6. 
```
len(animals['a'])
```
---

7. 
```
'baboon' in animals 
```
---

8. 
```
 'donkey' in animals.values()
```
---

9. 
```
'b' in animals 
```
---
10. 
```
animals.keys()
```
---
11. 
```
del animals['b']
len(animals)
animals
```
---
12. 
```
animals.values()
```

In [0]:
## Outputs...
'a': 'aardvark'
'b': 'donkey'
'c': 'coati'
'd': 'donkey'

In [ ]:
0
1
2
3
4

In [ ]:
error, animals.get['donkey']

In [ ]:
4

In [ ]:
'a': 'anteater'
'b': 'donkey'
'c': 'coati'
'd': 'donkey'

In [ ]:
8

In [ ]:
false, 'baboon' in animals.values()

In [ ]:
error

In [ ]:
true

In [ ]:
"a"
"b"
"c"
"d"

In [ ]:
3
'a': 'anteater'
'c': 'coati'
'd': 'donkey'

In [ ]:
'anteater'
'coati'
'donkey'

#### Tuples...

Assume we've made the following assignment:

```python
x = (1, 2, (3, 'John', 4), 'Hi')
```


Ouput ???

- x[0]
---
- x[2]
---

- x[-1]
---

- x[2][2]
---

- x[2][-1]
---

- x[-1][-1]
---

- x[-1][2]
---

- x[0:1]
---

- x[0:-1]
---

- len(x)
---

- 2 in x
---

- 3 in x
---

- x[0] = 8
---
```

In [0]:
1
(3, 'John', 4)
'Hi'
4
4
i
error
1
1, 2, (3, 'John', 4)
4
true
false
x = (8, 2, (3, 'John', 4), 'Hi')

## Code Snip

### Code Snippets 01

- Write a piece of Python code that evaluates varA and varB, and then prints out one of the following messages:

1. "string involved" if either varA or varB are strings
2. "bigger" if varA is larger than varB
3. "equal" if varA is equal to varB
4."smaller" if varA is smaller than varB

###  Code Snippets 02
- Assume `s` is a string of lower case characters.
- Write a program that counts up the number of vowels contained in the string s. 
- Valid vowels are: 'a', 'e', 'i', 'o', and 'u'. 
- For example, if s = 'azcbobobegghakl', your program should print:
- Number of vowels: 5

In [5]:
string=input("Enter string:")
vowels=0

for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
            vowels=vowels+1
            
print("Number of vowels:")
print(vowels)

Enter string:azcbobobegghakl
Number of vowels:
5

In [10]:
s = 'azcbobobegghakl'
s.count("a") + s.count("e") + s.count("i") + s.count("o") + s.count("u")

5

In [14]:
sum(map(s.count,["a","e","i","o","u"]))

5